body { font-family: 'Mulish', sans-serif; background-color: #383e56; display: flex; align-items: center; justify-content: center; margin: 0; height: 100%; width: 100%; }
button { background: none; border: none; cursor: pointer; }
button:focus { border: none; }
footer { position: absolute; bottom: 0; color: #bdc3c7; }